<a href="https://colab.research.google.com/github/eyet7/Markowitz-portfolio-optimization/blob/main/notebooks/01_markowitz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Core libraries for data handling, visualization, and financial data
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf
plt.style.use("seaborn-v0_8")

In [2]:
# Assests selection
tickers = ["AAPL", "MSFT","GOOGL", "AMZN", "SPY"]

#Download historical adjusted prices
prices = yf.download(
    tickers,
    start='2019-01-01',
    end='2024-01-01',
    auto_adjust=True
)
prices.head()

[*********************100%***********************]  5 of 5 completed

Price           Close                                                    High  \
Ticker           AAPL       AMZN      GOOGL       MSFT         SPY       AAPL
Date
2019-01-02  37.538815  76.956497  52.338543  94.612617  224.995316  37.759885
2019-01-03  33.799671  75.014000  50.889000  91.131973  219.626282  34.638779
2019-01-04  35.242554  78.769501  53.499271  95.370476  226.982895  35.311491
2019-01-07  35.164120  81.475502  53.392586  95.492126  228.772507  35.378059
2019-01-08  35.834454  82.829002  53.861534  96.184486  230.921906  36.088803

Price                                                    ...       Open  \
Ticker           AMZN      GOOGL       MSFT         SPY  ...       AAPL
Date                                                     ...
2019-01-02  77.667999  52.641752  95.202072  225.921642  ...  36.818560
2019-01-03  76.900002  52.913207  93.742428  223.547377  ...  34.225167
2019-01-04  79.699997  53.595048  95.913153  227.630416  ...  34.355905
2019-01-07  81.727997  53.729041  96.624258  230.184453  ...  35.347156
2019-01-08  83.830498  54.257540  97.279191  231.407553  ...  35.551581

Price                                                       Volume             \
Ticker           AMZN      GOOGL       MSFT         SPY       AAPL       AMZN
Date
2019-01-02  73.260002  50.974846  93.143652  221.218116  148158800  159662000
2019-01-03  76.000504  52.139553  93.658216  223.241593  365248800  139512000
2019-01-04  76.500000  51.737085  93.302697  222.666089  234428400  183652000
2019-01-07  80.115501  53.643191  95.099156  227.252631  219111200  159864000
2019-01-08  83.234497  53.892796  96.409040  230.966889  164101200  177628000

Price
Ticker         GOOGL      MSFT        SPY
Date
2019-01-02  31868000  35329300  126925200
2019-01-03  41960000  42579100  144140700
2019-01-04  46022000  44060600  142628800
2019-01-07  47446000  35656100  103139100
2019-01-08  35414000  31514400  102512600

[5 rows x 25 columns]